@section featured {
    <section class="featured">
        <div class="content-wrapper">
            @Html.ActionLink("下载客户端", "DownLoadClient", "Utility");
        </div>
    </section>
}


@section css{
    <style type="text/css">
        #menu1, .l-menu-shadow {
            top: 30px;
            left: 50px;
        }

        #menu1 {
            width: 200px;
        }
    </style>
}

@*@section scripts{
    <script type="text/javascript" src="~/Scripts/test.js">
        
    </script>
}*@
